In [1]:
import pandas as pd

In [2]:
data = {'Country': ['Belgium', 'India', 'Brazil'], 'Capital': ['Brussels', 'New Delhi', 'Brasília'], 'Population': [11190846, 1303171035, 207847528]}

In [3]:
type(data)

dict

In [4]:
type(data['Population'][0])

int

In [5]:
df = pd.DataFrame(data, columns=['Country', 'Capital', 'Population'])

In [6]:
type(df)

pandas.core.frame.DataFrame

In [7]:
df.columns

Index(['Country', 'Capital', 'Population'], dtype='object')

In [8]:
df['Capital'][0:]

0     Brussels
1    New Delhi
2     Brasília
Name: Capital, dtype: object

In [9]:
df['Capital'][0:]

0     Brussels
1    New Delhi
2     Brasília
Name: Capital, dtype: object

In [10]:
df['Capital'][0]

'Brussels'

Data Selection with Pandas

In [11]:
df['Capital'][2]

'Brasília'

In [12]:
df[2]['Capital']

KeyError: 2

In [47]:
df[2:3]['Capital']

2    Brasília
Name: Capital, dtype: object

In [48]:
df['Capital'][2:3]

2    Brasília
Name: Capital, dtype: object

In [52]:
df.loc[0:1,'Capital']

0     Brussels
1    New Delhi
Name: Capital, dtype: object

In [53]:
df.iloc[0:1,0]

0    Belgium
Name: Country, dtype: object

pandas.core.frame.DataFrame

Masking p.79

In [57]:
iris = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data', header=None, 
                names = ['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'class'])

type(iris)

pandas.core.frame.DataFrame

In [59]:
iris.columns

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'class'], dtype='object')

In [65]:
iris[iris['sepal_length'] > 6]['sepal_length']

50     7.0
51     6.4
52     6.9
54     6.5
56     6.3
      ...
144    6.7
145    6.7
146    6.3
147    6.5
148    6.2
Name: sepal_length, Length: 61, dtype: float64

In [71]:
iris.groupby(['class']).mean()

                 sepal_length  sepal_width  petal_length  petal_width
class
Iris-setosa             5.006        3.418         1.464        0.244
Iris-versicolor         5.936        2.770         4.260        1.326
Iris-virginica          6.588        2.974         5.552        2.026

In [72]:
iris.groupby(['sepal_length']).mean()

              sepal_width  petal_length  petal_width
sepal_length
4.3              3.000000      1.100000     0.100000
4.4              3.033333      1.333333     0.200000
4.5              2.300000      1.300000     0.300000
4.6              3.325000      1.325000     0.225000
4.7              3.200000      1.450000     0.200000
4.8              3.180000      1.580000     0.200000
4.9              2.866667      2.283333     0.533333
5.0              3.120000      1.840000     0.430000
5.1              3.477778      1.722222     0.400000
5.2              3.425000      2.075000     0.475000
5.3              3.700000      1.500000     0.200000
5.4              3.550000      2.033333     0.516667
5.5              2.842857      3.228571     0.900000
5.6              2.816667      4.200000     1.416667
5.7              3.100000      3.587500     1.100000
5.8              2.885714      4.071429     1.400000
5.9              3.066667      4.700000     1.700000
6.0              2.733333      4.650000     1.500000
6.1              2.850000      4.750000     1.416667
6.2              2.825000      4.750000     1.725000
6.3              2.855556      5.133333     1.811111
6.4              2.957143      5.157143     1.871429
6.5              3.000000      5.240000     1.900000
6.6              2.950000      4.500000     1.350000
6.7              3.050000      5.262500     1.962500
6.8              3.000000      5.400000     1.933333
6.9              3.125000      5.275000     2.050000
7.0              3.200000      4.700000     1.400000
7.1              3.000000      5.900000     2.100000
7.2              3.266667      5.966667     1.966667
7.3              2.900000      6.300000     1.800000
7.4              2.800000      6.100000     1.900000
7.6              3.000000      6.600000     2.100000
7.7              3.050000      6.600000     2.200000
7.9              3.800000      6.400000     2.000000

In [78]:
iris.columns

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'class'], dtype='object')

In [81]:
iris.sort_index(ascending=False).head()

     sepal_length  sepal_width  petal_length  petal_width           class
149           5.9          3.0           5.1          1.8  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
145           6.7          3.0           5.2          2.3  Iris-virginica

In [82]:
iris.sort_index(axis=1).head()

         class  petal_length  petal_width  sepal_length  sepal_width
0  Iris-setosa           1.4          0.2           5.1          3.5
1  Iris-setosa           1.4          0.2           4.9          3.0
2  Iris-setosa           1.3          0.2           4.7          3.2
3  Iris-setosa           1.5          0.2           4.6          3.1
4  Iris-setosa           1.4          0.2           5.0          3.6

In [73]:
iris.sort_values(by = 'sepal_length').head()

    sepal_length  sepal_width  petal_length  petal_width        class
13           4.3          3.0           1.1          0.1  Iris-setosa
42           4.4          3.2           1.3          0.2  Iris-setosa
38           4.4          3.0           1.3          0.2  Iris-setosa
8            4.4          2.9           1.4          0.2  Iris-setosa
41           4.5          2.3           1.3          0.3  Iris-setosa

Counting

In [85]:
import numpy as np

In [87]:
iris.apply(np.count_nonzero, axis =0)

sepal_length    150
sepal_width     150
petal_length    150
petal_width     150
class           150
dtype: int64

In [89]:
iris.apply(np.count_nonzero, axis =1)

0      5
1      5
2      5
3      5
4      5
      ..
145    5
146    5
147    5
148    5
149    5
Length: 150, dtype: int64

In [90]:
x = lambda a : a + 10
print(x(5))

15

In [91]:
x = lambda a, b : a * b
print(x(5, 6))

30

In [92]:
def myfunc(n):
  return lambda a : a * n

mydoubler = myfunc(2)

print(mydoubler(11))

22

In [5]:
import pandas as pd

df = pd.DataFrame( [[4, 7, 10], [5, 7, 11],[6, 9, 12]],index=[1, 2, 3], columns=['a', 'b', 'c'])

In [6]:
df

   a  b   c
1  4  7  10
2  5  7  11
3  6  9  12

In [7]:
df['b'].value_counts()

7    2
9    1
Name: b, dtype: int64