In [1]:
import pandas as pd
from sklearn.datasets import load_iris

x = load_iris()
x = pd.DataFrame(x.data, columns=x.feature_names)

def remove_units(df):
    df.columns = pd.Index(map(lambda x: x.replace(" (cm)", ""), df.columns))
    return df

def length_times_width(df):
    df['sepal length*width'] = df['sepal length'] * df['sepal width']
    df['petal length*width'] = df['petal length'] * df['petal width']

x.pipe(remove_units).pipe(length_times_width)
x

,sepal length,sepal width,petal length,petal width,sepal length*width,petal length*width
0,5.1,3.5,1.4,0.2,17.85,0.28
1,4.9,3.0,1.4,0.2,14.70,0.28
2,4.7,3.2,1.3,0.2,15.04,0.26
3,4.6,3.1,1.5,0.2,14.26,0.30
4,5.0,3.6,1.4,0.2,18.00,0.28
...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,20.10,11.96
146,6.3,2.5,5.0,1.9,15.75,9.50
147,6.5,3.0,5.2,2.0,19.50,10.40
148,6.2,3.4,5.4,2.3,21.08,12.42
149,5.9,3.0,5.1,1.8,17.70,9.18

In [2]:
#gapminder = pd.read_csv('/Users/Kaemyuijang/SCMA248/Data/gapminder_full.csv')

url = 'https://raw.githubusercontent.com/STLinde/Anvendt-Statistik/main/gapminder_full.csv'
gapminder = pd.read_csv(url)
gapminder['year'].unique()

NameError: name 'pd' is not defined

In [9]:
cond = gapminder['year']==1957
gapminder.loc[cond,]

                 country  year  population continent  life_exp      gdp_cap
1            Afghanistan  1957     9240934      Asia    30.332   820.853030
13               Albania  1957     1476505    Europe    59.280  1942.284244
25               Algeria  1957    10270856    Africa    45.685  3013.976023
37                Angola  1957     4561361    Africa    31.999  3827.940465
49             Argentina  1957    19610538  Americas    64.399  6856.856212
...                  ...   ...         ...       ...       ...          ...
1645             Vietnam  1957    28998543      Asia    42.887   676.285448
1657  West Bank and Gaza  1957     1070439      Asia    45.671  1827.067742
1669         Yemen, Rep.  1957     5498090      Asia    33.970   804.830455
1681              Zambia  1957     3016000    Africa    44.077  1311.956766
1693            Zimbabwe  1957     3646340    Africa    50.469   518.764268

[142 rows x 6 columns]

In [10]:
#def replace_age_na(x_df, fill_map):
#    cond=x_df['Age'].isna()
#    res=x_df.loc[cond,'Pclass'].map(fill_map)
#    x_df.loc[cond,'Age']=res
#    return x_df


def year_filter(df,year_selected):
    cond=df['year']==year_selected
    return df.loc[cond,]

In [ ]:
p = ggplot(data = gapminder1957) + aes(x = 'gdp_cap', y = 'life_exp', size = 'population') + geom_point(alpha = 0.8)

(
p + xlim(0,20000)
)

In [1]:
#year_filter(gapminder,1957)
from plotnine import *

p = gapminder.pipe(year_filter,2007).pipe(ggplot) 

( p +
  aes(x = 'gdp_cap', y = 'life_exp', size = 'population') + geom_point(alpha = 0.8)
)

NameError: name 'gapminder' is not defined

In [ ]:
gapminder.pipe